
body
{
	background: rgb(38, 38, 38);
	color: rgb(204, 204, 204);

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;

	text-align: left;
	max-width: 100%;
	margin: 0px 10px;
}

@media only screen and (min-width: 768px)
{
	body
	{
		max-width: 100%;
		font-size: 16px;
	}
}

a
{
	color: rgb(0, 128, 0);
}

b
{
	color: rgb(255, 255, 255);
}

pre
{
	white-space: pre-wrap;
}

h1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 32px;
	color: rgb(255, 255, 255);
}

h2
{
	color: rgb(255, 255, 255);
}

header
{
	text-align: center;
	max-width: 100%;
}

section
{
}

footer
{
	text-align: center;
	max-width: 100%;
}

.button
{
	background-color: rgb(0, 100, 0);
	border: none;
	border-radius: 4px;
	margin: 10px 5px;
	color: rgb(255, 255, 255);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}

.wrapper8km
{
	background-color: rgb(50, 50, 50);
	color: rgb(255, 255, 255);
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 10px;
}

.wrapper4km
{
	background-color: rgb(50, 50, 50);
	color: rgb(255, 255, 255);
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 10px;
}

.wrapper2km
{
	background-color: rgb(50, 50, 50);
	color: rgb(255, 255, 255);
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 10px;
}

.wrapperuntested
{
	background-color: rgb(50, 50, 50);
	color: rgb(200, 200, 200);
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 10px;
}

.terrain8km
{
	background-color: #rgb(68, 68, 68);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	padding: 20px;
}

.terrain4km
{
	background-color: rgb(68, 68, 68);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	padding: 20px;
}

.terrain2km
{
	background-color: rgb(68, 68, 68);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	padding: 20px;
}

.terrainuntested
{
	background-color: rgb(70, 70, 70);
	color: rgb(200, 200, 200);
	border-radius: 5px;
	padding: 20px;
}

.wrapper_mod_vehicles
{
	background-color: rgb(50, 50, 50);
	color: rgb(0, 0, 0);
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 10px;
}

.mod_release_Vehicle
{
	background-color: rgb(60, 60, 60);
	color: rgb(200, 200, 200);
	border-radius: 5px;
	padding: 20px;
}

.changelog
{
	margin: 0px 5px;
	font-size: 14px;
}

.terrain
{
	margin: 0px 10px;
}

.farmfields
{
	margin: 0px 50px 0px 0px;
	display: inline-block;
}

.terrainimg
{
	padding: 3px 15px;
	width: auto;
	height: auto;
}

.imgresponsive
{
	max-width: 768px;
	width: auto;
	height: auto;
}

.grid-container
{
	display: grid;
	grid-template-columns: auto auto;
}

.grid-item
{
	padding: 5px;
}

.warninglabel
{
	background: rgb(255,0,0);
	color: rgb(10,10,10);
	padding: 5px 100px;
}

.pmc_farmsim1
{
	font-size: 16px;
}
